<div class="container">
    <h1>Sign in</h1>
</div>

<div class="container">

    <%= form_with scope: :session, data: {turbo: false}, url: login_path do |f| %>
    
    <div class="mb-3">
        <div class="form-label">
            <%= f.label :email %>
        </div>
    </div>

    <div class="form-label">
        <div class="col-sm-6">
            <%= f.text_field :email, class: "form-control", placeholder: "Entrez votre email" %>
        </div>
    </div>
            
    <div class="mb-3">
        <div class="form-label">
            <%= f.label :password %>  
        </div>
    </div>
     
    <div class="form-label">
        <div class="col-sm-6">
            <%= f.password_field :password, class: "form-control", placeholder: "Entrez votre mot de passe", autocomplete: 'off'%> 
        </div>
    </div>

    <div class="mb-3">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
    </div>

<%end%>
</div>