<%= form_with(model: @article, data: {turbo: false}) do |f| %>
    <% if @article.errors.any? %>
        <h2>Erreur à cause des rasions suivantes:</h2>
        <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    <% end %>


<div class="mb-3">
    <div class="form-label">
        <%= f.label :title %>
    </div>

    <div class="form-label">
        <div class="col-sm-6">
        <%= f.text_field :title, class: "form-control" %>
        </div>
    </div>
</div>
        
<div class="mb-3">
    <div class="form-label">
      <%= f.label :description %>  
    </div>

<div class="form-label">
    <div class="col-sm-6">
    <%= f.text_area :description, class: "form-control", rows: 10 %> 
    </div>
</div>

   
<div class="mb-3 form-check">
     <%= f.submit "Enregistrer", class: "btn btn-primary" %>
</div>

<% end %>
</div>

<div>
<%= link_to "Retour à la liste", articles_path %>
</div>