<%= form_with(model: @article, data: {turbo: false}) do |f| %>
    <% if @article.errors.any? %>
        <div class="row">
            <div class="col-xs-8">
                <div class="alert alert-danger col-sm-6">
                    <div class="alert-heading">
                        <h2 class="alert-title">
                            <%= pluralize(@article.errors.count, "error")%>, that's unfortunate! 
                        </h2>
                        
                        <div class="alert-body">
                            <ul>
                                <% @article.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            <div>
        </div>
   <% end %>

    <div class="mb-3">
        <div class="form-label">
            <%= f.label :title %>
        </div>

        <div class="form-label">
            <div class="col-sm-6">
            <%= f.text_field :title, class: "form-control" %>
            </div>
        </div>
    </div>
            
    <div class="mb-3">
        <div class="form-label">
        <%= f.label :description %>  
        </div>
    </div>

    <div class="form-label">
        <div class="col-sm-6">
        <%= f.text_area :description, class: "form-control", rows: 10 %> 
        </div>
    </div>
    
    <div class="mb-3">
        <%= f.submit "Enregistrer", class: "btn btn-primary" %>
    </div>

    <div>
    <%= link_to "Retour à la liste", articles_path %>
    </div>
<%end%>